[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
boto3 = "*"
botocore = "*"
coverage = "*"
cryptography = "*"
dj-database-url = "*"
django-absolute = "==0.3"
django-cache-url = "==1.3.1"
django-countries = "*"
django-prices = "==0.4.13"
django-redis = "==4.7.0"
django-storages = "*"
Django = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"
django-cors-middleware = "*"
django-pgcrypto-fields = "*"
docutils = "*"
elasticsearch = "*"
google-i18n-address = "*"
jsonfield = "*"
defusedxml = "*"
lxml = "*"
mock = "==2.0.0"
mimeparse = "*"
model-mommy = "*"
"psycopg2-binary" = "==2.7.5"
purl = "==1.3"
py = "==1.4.32"
pyasn1 = "==0.1.9"
pycparser = "==2.17"
pyparsing = "==2.1.10"
pytest-django = "==3.1.2"
pytest = "==3.0.5"
python-dateutil = "*"
pytz = "*"
redis = "*"
requests-oauthlib = "*"
requests = "*"
selenium = "*"
six = "*"
social-auth-app-django = "*"
South = "*"
uWSGI = "==2.0.18"
pillow = "*"
flake8 = "*"
django-heroku = "*"
sentry-sdk = "*"
gunicorn = "*"
whitenoise = "*"
sqlparse = "*"
djongo = "*"
pyqrcode = "*"
psycopg2 = "*"
sendgrid = "*"
django-py-zipkin = "*"
cython = "*"
thriftpy2 = "*"
